$purple: #800080;
$yellow: yellow;
// $yellow: #FFD300; //cyber yellow
// $yellow: #FFD700; //gold
$yellow: #EED202; //safety yellow
$light-gray: #fefefe;

$body-bg: $purple;
$body-color: $light-gray;
$link-color: $yellow;

$top-margin: 4rem;

$text-outline-2: 
                 2px 2px #000, 
                 2px -2px #000,
                 -2px -2px #000,
                 -2px 2px #000,
                 0 -3px #000,
                 0 3px #000,
                 -3px 0 #000,
                 3px 0 #000;

$text-outline-1: 
                 1px 1px #000, 
                 1px -1px #000,
                 -1px -1px #000,
                 -1px 1px #000,
                 0 -1px #000,
                 0 1px #000,
                 -1px 0 #000,
                 1px 0 #000;